@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Búsqueda</h1>
</div>
<div class="container h-75">
    <div class="form-group mb-3">
        <label for="categorias">Categorías</label>
        <select class="form-control" id="categorias"></select>
    </div>
    <div id="map"></div>
</div>


@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj3gjMnW1EZmPnMhUdSkokrkYAhHGmhQY&callback=initMap&v=beta" defer></script>
    <script src="~/js/home/index.js" asp-append-version="true"></script>
}