@{
    ViewData["Title"] = "Favoritos";
}

<div class="text-left">
    <h1>Favoritos</h1>
</div>
<div class="container h-75">
    <div id="lugares"></div>
</div>


@section Scripts {
    <script src="~/js/lugares/favoritos.js" asp-append-version="true"></script>
}